<section class="cta-section p-10 md:p-20 mb-6">
    <div class="container mx-auto text-center mb-10">
     
      <span class="text-teal-600 uppercase text-base md:text-lg">READY TO GET STARTED</span>
  
      <h1 class="text-2xl md:text-4xl font-bold mt-2 max-w-2xl mx-auto mb-6">
        Get The Latest Insurance News In Minutes
      </h1>
  
      <p class="text-base md:text-lg text-gray-600 max-w-2xl mx-auto">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet dicta dolore temporibus quidem deleniti quis iste
      </p>
    </div>
  
    <div class="container mx-auto flex items-center justify-center relative mt-10">
  
      <img src="https://sspolicy.com/assets/images/subscribe-shape-1.png" alt="Left Decoration"
        class="hidden lg:block lg:absolute left-24 ml-24 w-15 h-15 md:w-15 md:h-15" />
  
  
      <div class="flex w-full max-w-xl">
        <input type="email" placeholder="Enter your email address"
          class="w-full py-2 md:py-3 px-3 md:px-4 text-sm md:text-md rounded-l-lg border border-gray-300 bg-gray-100 focus:outline-none focus:border-primary" />
  
  
        <button
          class=" bg-teal-600 hover:bg-gray-800 text-white py-2 md:py-3 px-3 md:px-4 min-w-[150px] md:min-w-[200px] rounded-r-lg inline-flex items-center">
          <img src="assets/letter.png" alt="Icon" class="w-4 h-4 md:w-5 md:h-5 mr-1 md:mr-2" />
          <span class="text-sm md:text-md">Subscribe Now</span>
        </button>
      </div>
  
      <img src="https://sspolicy.com/assets/images/subscribe-shape-2.png" alt="Right Decoration"
        class="hidden lg:block lg:absolute right-16 mr-24 w-25 h-25 md:w-30 md:h-30 bottom-10 " />
    </div>
  </section>