<div class="bg-teal-50 grid grid-cols-1  lg:flex lg:flex-row lg:justify-between lg:items-end">
    <div class="flex flex-col place-items-start ml-5 mt-0 pb-20  lg:mb-14">
        <div class="lg:text-6xl lg:mt-0 mt-5 text-3xl md:text-4xl font-bold leading-[1.2]">
            Take The Worry Out Of Life With 
            <span class="text-teal-600"> Insurance </span> Protection
        </div>

        <div class="text-gray-600 mt-5 text-lg lg:text-xl ">
            Get peace of mind with our customizable insurance plans. From health to asset protection, 
            we’ve got you covered with reliable support and quick claims. 
        </div>

        <div class="flex justify-between items-center mt-5 space-x-4 lg:space-x-6 cursor-pointer">
            <div class="lg:px-8 lg:py-3  px-4 py-2 text-white hover:bg-teal-500 bg-teal-600 rounded leading-normal">
                >  Get Started
            </div>
            <div class="lg:px-8 lg:py-3  px-4 py-2 flex hover:bg-gray-300  justify-between space-x-2 cursor-pointer items-center text-teal-600 border-2 border-teal-600 rounded leading-normal bg-white">
                <img src="assets/send.png" class="w-4 h-4  " />
                <p>Contact Us</p>
            </div>
        </div>
    </div>

    <div class=" lg:max-w-[50%]">
        <img src="assets/hero.png"/>
    </div>

    <div>
        <img src="https://sspolicy.com/assets/images/subscribe-shape-1.png" alt="Small Image 1" class="hidden lg:block absolute top-10 left-10 max-w-full max-h-full  mt-12 object-contain w-16 z-20"/>
    <img src="https://sspolicy.com/assets/images/choose-shape.png" alt="Small Image 2" class="hidden lg:block absolute bottom-20 left-[40%] top-96 max-w-full max-h-full object-contain mt-32 ml-20  w-32 z-20"/>
    <img src="https://sspolicy.com/assets/images/subscribe-shape-2.png" alt="Small Image 3" class="hidden lg:block absolute top-10 right-8 mt-12 max-w-full max-h-full object-contain w-20 z-20"/>
    </div>
</div>