<section class="services-section p-20 bg-gray-100 min-h-[600px]">
    <div class="container mx-auto text-center mb-10"> 
      <span class="text-teal-600 uppercase text-sm sm:text-lg">INSURANCE SERVICES</span>
      <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mt-2 max-w-2xl mx-auto">Take The Worry Out Of Life With Insurance Protection</h1>
    </div>  
      <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 xl:h-[400px] sm:h-[600px] ">
        <div *ngFor="let service of services" class="service-card relative bg-white rounded-lg shadow-lg overflow-hidden h-full">
          <img [src]="service.image" alt="{{ service.title }}" class="w-full h-full object-cover" />
          <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2 w-10/12 sm:w-8/12 sm:bottom-3 bg-teal-600 bg-opacity-75 p-4 rounded-lg text-center text-white">
            <span class="text-sm font-semibold">{{ service.subtitle }}</span>
            <h2 class="text-xl font-bold mt-1">{{ service.title }}</h2>
          </div>
        </div>
      </div>  
</section>